
* { box-sizing: border-box; }
body {
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary;
  background: $color-bg;
  margin: 0;
}

img { max-width: 100%; display: block; }
a { color: inherit; }
ul, ol { margin: 0; padding: 0; list-style: none; }
html {
  scroll-behavior: smooth;
}