.intro {
  padding: 120px 20px 80px;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 24px;
  }

  &__desc {
    font-size: 1.125rem;
    line-height: 1.8;
    color: #555;
    max-width: 720px;
  }
}